@charset "ISO-8859-1";

form{
	width:auto;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
	text-align: center;
	max-width: 40em;
  	margin: 0 auto;
  	/*position: relative;*/
 	/*display: flex;*/
}

form input {
  font: inherit;
  position: relative;
    border-color: transparent;
  }
  
  form input:hover{
  border-color: black;
  }
  
  form select{
   border-color: transparent;
  }
  
  form select:hover{
  border-color: black;
  }
  
  
  
