<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registrar Persona</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="static/css/style.css" th:href="@{/css/style.css}">
	<link rel="icon" type="image/png" href="static/img/icon.png" th:href="@{/img/icon.png}" />
</head>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/Inicio"> <img src="/img/home.png" alt=""
			width="30" height="30" class="d-inline-block align-top">
			Inicio
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="/Detalle">Alquiler</a></li>
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="/Persona">Persona</a></li>
					<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="/Novedad">Novedad</a></li>
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="/Producto">Producto</a></li>
	<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle nav-link active" href="#"
					id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
					aria-expanded="false"> Tipos </a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item" href="/TipoDocumento">Tipo Documento</a></li>
						<li><a class="dropdown-item" href="/TipoNovedad">Tipo Novedad</a></li>
						<li><a class="dropdown-item" href="/TipoPersona">Tipo Persona</a></li>
						<li><a class="dropdown-item" href="/TipoProducto">Tipo Producto</a></li>
					</ul></li>			
			</ul>
		</div>
			<a href="/"><img src="static/img/icono.png" th:src="@{/img/icono.png}"></a>
	</div>

</nav>
<body>
<div class="container">
<h4>Nueva Persona</h4>
<form class="form-control" th:object="${persona}" method="POST" th:action="@{/Persona/crear}">
<input type="hidden"th:field="*{idPersona}" name="idPersona">
<label>Nombre</label>
<input type="text" placeholder="Nombre" th:field="*{nombre}" name="nombre" required> 
<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Ingrese nombre</span>

<label>Apellido</label>
<input type="text" placeholder="Apellido" th:field="*{apellido}" name="apellido" required="required">
<span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Ingrese apellido</span>
 
<label>Email</label>
<input type="email" placeholder="Email" th:field="*{email}" required="required">
<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Ingrese email</span>
 
<label>Direccion</label>
<input type="text" placeholder="Direccion" th:field="*{direccion}"  name="direccion" required="required">  
<span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">Ingrese direccion</span>

<label>Tipo Documento</label>
<select th:field="${persona.idTipoDocumento}" required="required">
<option th:each="var: ${tipoDoc}" th:value="${var.idtipodocumento}" th:text="${var.TipoDocumento}"></option>
</select>
<span th:if="${#fields.hasErrors('idTipoDocumento')}" th:errors="*{idTipoDocumento}">Seleccione documento</span>

<label>Documento</label>
<input type="number" placeholder="N° Documento" th:field="*{numeroDocumento}" name="documento" required="required"> 
<span th:if="${#fields.hasErrors('numeroDocumento')}" th:errors="*{numeroDocumento}">Ingrese numero documento</span>

<label>Tipo Persona</label>
<select th:field="${persona.tipopersona_idtipopersona}" name="tipopersona_idtipopersona" required="required">
<option th:each="varP: ${tipoPer}" th:value="${varP.idTipoPersona}" th:text="${varP.TipoPersona}"></option>
</select>
<span th:if="${#fields.hasErrors('tipopersona_idtipopersona')}" th:errors="*{tipopersona_idtipopersona}">Ingrese nombre</span>

<input type="submit" value="Registrar" class="btn btn-dark">

</form>


</div>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</body>
</html>