<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registrar Persona</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"> <img src="/img/home.png" alt=""
			width="30" height="30" class="d-inline-block align-top">
			Catalogo
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="/Detalle">Alquiler</a></li>
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="/Persona">Persona</a></li>
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="/Producto">Producto</a></li>
	<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
					aria-expanded="false"> Tipos </a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item" href="c">Tipo Documento</a></li>
						<li><a class="dropdown-item" href="c">Tipo Novedad</a></li>
						<li><a class="dropdown-item" href="c">Tipo Persona</a></li>
						<li><a class="dropdown-item" href="c">Tipo Producto</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
</nav>
<body>
<div class="container">
<h4>Nueva Persona</h4>
<form class="form-control" th:object="${persona}" method="POST" th:action="@{/Persona/crear}">
<input type="hidden"th:field="*{idPersona}" name="idPersona">
<label>Nombre</label>
<input type="text" placeholder="Nombre" th:field="*{nombre}" name="nombre"> 
<label>Apellido</label>
<input type="text" placeholder="Apellido" th:field="*{apellido}" name="apellido"> 
<label>Email</label>
<input type="email" placeholder="Email" th:field="*{email}"> 
<label>Direccion</label>
<input type="text" placeholder="Direccion" th:field="*{direccion}"  name="direccion"> 

<label>Tipo Documento</label>
<select th:field="${persona.idTipoDocumento}">
<option th:each="var: ${tipoDoc}" th:value="${var.idtipodocumento}" th:text="${var.TipoDocumento}"></option>
</select>

<label>Documento</label>
<input type="number" placeholder="N° Documento" th:field="*{numeroDocumento}" name="documento"> 

<label>Tipo Persona</label>
<select th:field="${persona.tipopersona_idtipopersona}" name="tipopersona_idtipopersona">
<option th:each="varP: ${tipoPer}" th:value="${varP.idTipoPersona}" th:text="${varP.TipoPersona}"></option>
</select>

<input type="submit" value="Registrar" class="btn btn-dark">

</form>


</div>



</body>
</html>