<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inicio Alquiler</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"> <img src="/img/home.png" alt=""
			width="30" height="30" class="d-inline-block align-top">
			Catalogo
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
			<ul class="navbar-nav">
		<a class="nav-link active" aria-current="page"href="/Inicio">Inicio
		</a>
		</ul>
	</div>
</nav>
<body>
<div class="container">

<table>
<thead>

<br></thead>
<tbody>
<tr th:each="varp : ${listaP}">
<!-- 
<td th:text="${varp.nombre}">
<td th:text="${varp.precio}">
<td>
	<div th:if="${varp.imagen}">
	<img alt="default" th:src="@{/img/{variabletemporal} ( variabletemporal=${varp.imagen} ) }" width="100" height="100">
	</div>
	
	<div th:unless="${varp.imagen}">
	<img alt="default" th:src="@{/img/default.png}" width="100" height="100">
	</div>
	
	</td>-->
<div class="row row-cols-3 row-cols-md-3 g-4 ">
  <div class="col">
    <div class="card border-dark mb-3">
	<div th:if="${varp.imagen}">
	<img alt="default" th:src="@{/img/{variabletemporal} ( variabletemporal=${varp.imagen} ) }" width="100" height="100">
	</div>
	
	<div th:unless="${varp.imagen}">
	<img alt="default" th:src="@{/img/default.png}" width="100" height="100">
	</div>
      <div class="card-body">
        <h5 class="card-title" th:text="${varp.nombre}"></h5>
        <p class="card-text" th:text="${varp.precio}"></p>
      </div>
    </div>
    </div>


</tbody>


</table>
	
</div>	

	<!-- JavaScript Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</body>
</html>