<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detalle Alquiler</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="static/css/style.css" th:href="@{/css/style.css}">
	<link rel="icon" type="image/png" href="static/img/icon.png" th:href="@{/img/icon.png}" />
</head>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/Inicio"> <img src="/img/home.png" alt=""
			width="30" height="30" class="d-inline-block align-top">
			Inicio
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="/Detalle">Alquiler</a></li>
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="/Persona">Persona</a></li>
					<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="/Novedad">Novedad</a></li>
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="/Producto">Producto</a></li>
	<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle nav-link active" href="#"
					id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
					aria-expanded="false"> Tipos </a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item" href="/TipoDocumento">Tipo Documento</a></li>
						<li><a class="dropdown-item" href="/TipoNovedad">Tipo Novedad</a></li>
						<li><a class="dropdown-item" href="/TipoPersona">Tipo Persona</a></li>
						<li><a class="dropdown-item" href="/TipoProducto">Tipo Producto</a></li>
					</ul></li>			
			</ul>
		</div>
			<a href="/"><img src="static/img/icono.png" th:src="@{/img/icono.png}"></a>
	</div>

</nav>
<body>
	<div class="container">
	<table class="table table-striped table-hover">
	<thead>
	<h4>Registros Alquiler</h4>
	<tr>
	<th scope="col">Id Detalle Alquiler</th>
	<th scope="col">Id Alquiler</th>
	<th scope="col">Fecha Alquiler</th>
	<th scope="col">Fecha Entrega</th>
	<th scope="col">Cliente</th>
	<th scope="col">Producto</th>
	<th scope="col">Novedad/Descripcion</th>
	<th scope="col">Total</th>

	</thead>
	
	<tbody>
	<tr th:each="var: ${listaD}">
	<td th:text="${var.idDetalleAlquiler}">
	<td>
	<th:block th:each="alquiler,iter: ${var.alquiler}">
	<label th:text="${alquiler.idalquiler}"></label>
	<th:block th:if="${!iter.last}">,</th:block>
	</th:block>
	</td>
	<td>
	<th:block th:each="alquiler,iter: ${var.alquiler}">
	<label th:text="${alquiler.fechaAlquiler}"></label>
	<th:block th:if="${!iter.last}">,</th:block>
	</th:block>
	</td> 
	<td>
	<th:block th:each="alquiler,iter: ${var.alquiler}">
	<label th:text="${alquiler.fechaEntrega}"></label>
	<th:block th:if="${!iter.last}">,</th:block>
	</th:block>
	</td> 
	<td>
	<th:block th:each="alquiler, iter: ${var.alquiler}">
	<label th:text="${alquiler.idPersona.nombre}"></label>
	<th:block th:if="${!iter.last}">,</th:block>
	</th:block>
	</td>  
	<td>
	<th:block th:each="prod, iter: ${var.producto}">
	<label th:text="${prod.nombre}"></label>
	<th:block th:if="${!iter.last}">,</th:block>
	</th:block>
	</td>
	
	<td>
	
	 <th:block th:each="varTNov: ${var.alquiler}">
	<label th:text="${varTNov.idnovedad.descripcion}"></label>
	
  	<th:block th:each="tipoNov: ${var.alquiler.idnovedad.idtiponovedad}">
	<label th:text="${tipoNov.novedadN}"></label>
	
	</th:block>
	</th:block>
	</td>

	<td th:text="${var.total}">
	</td>
	</tbody>
	
	</table>
	
	<div class="container">
	<a href="/Detalle/MostrarFormulario"><input value="Crear Nuevo Alquiler" class="btn btn-dark"></a>
	</div>
	
	
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</body>
</html>